$background:#000;
$desktopBreakpoint: 960px;

@mixin borderRadius($edge) {
    border-radius: $edge;
    -webkit-border-radius: $edge;
    -moz-border-radius: $edge;
    border-color: lighten($background, 50%);
}

@mixin box-basic {
    box-shadow: 0 0 1px rgba(34,25,0,4);
}

@mixin desktop {
    @media(min-width: $desktopBreakpoint) {
        @content;
    }
}

body {

    > main {

        div {
            @include desktop {
                background: $background;
            }

            &.foo {
                @include borderRadius(3px);
                background: green;
            }

            &.gold {
                @include box-basic;
                background: gold;

                span {
                    background: #111;
                }

            }
        }

    }
}
