$backgroundColor: #efefef;
$radius: 40%;

.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;

  span {
    display: inline-block;
    border: 1px solid darken($backgroundColor, 25);
  }

  .count {
    border-radius: $radius;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 3em;

    &.positive {
      color: blue;
    }

    &.negative {
      color: red;
    }
  }

  .clicker {
    border-radius: $radius;
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 44px;
  }
}
