<li class="gallery-item">
  <div class="current-item" ng-if="!galleryItemCtrl.showEditGallery">
    <div>
      <span class="item-label">name:</span>
      <span>{{ galleryItemCtrl.gallery.name }}</span>
    </div>

    <div>
      <span class="item-label">description:</span>
      <span>{{ galleryItemCtrl.gallery.desc }}</span>
    </div>
  </div>

  <edit-gallery ng-if="galleryItemCtrl.showEditGallery" gallery="galleryItemCtrl.gallery"></edit-gallery>

</li>
<li class="edit-btns">
  <span
    ng-click="galleryItemCtrl.showEditGallery=!galleryItemCtrl.showEditGallery">
    <img src="https://cdn1.iconfinder.com/data/icons/basic-line-6/1024/edit-256.png" alt="edit">
</span>
</li>
