<section class="upload-pic">
  <form
    ng-submit="uploadPicCtrl.uploadPic()"
    novalidate>

    <fieldset>
      <input class="input-std" type="text" ng-model="uploadPicCtrl.pic.name" placeholder="name">
      <input class="input-std" type="text" ng-model="uploadPicCtrl.pic.desc" placeholder="description">
    </fieldset>

    <p class="grab-img"
      ngf-select
      ng-model="uploadPicCtrl.pic.file">
      select image to upload
    </p>

    <button class="btn-std">upload</button>
  </form>
</section>
