@import  "./_vars.scss";

html, body, .app-container {
  height: 100%;
}

.app {
  height: 100%;
}

.card-create-form {
  //width: 25%;
}

.kanban-board {
  height: 100%;
}

.card-column {
  width: 25%;
  height: 100%;
  padding: $pad;
  float: left;
  border-left: 1px solid $color-lightgrey;

  input {
    margin-bottom: 1em;
  }

  h2 {
    width: calc(100% + 1em);
    transform: translateX(-0.5em) translateY(-0.5em);

    background: $color-error;
    text-align: center;
    padding: $pad/2 0;
  }
}

.card {
  position: relative;
  padding: $pad;
  padding-bottom: calc(30px + 1em);
  word-wrap: break-word;
  margin: $pad 0;
  background: $color-secondary;
  box-shadow: -5px -3px 0px $color-error;
  //border-top: 5px solid $color-error;
  //border-left: 5px solid $color-error;

  button {
    height: 30px;
    width: calc(100% / 3 );
    border: 1px solid $color-error;
    margin-top: 0.5em;
    box-shadow: 0px 0px 3px $color-error;

    &:hover {
      background: $color-error;
    }
  }

  .btn-delete {
    position: absolute;
    border-radius: none;
    left: calc(50% - (100% / 6));
  }

  .btn-prev {
    text-align: left;
    float: left;
  }
  
  .btn-next{
    text-align: right;
    float: right;
  }
}
