body {
  padding: 5px;
}

pre {
  background-color: #eaeaea;
  padding: 10px;
}

form {
  background: #fff;
  color: #888;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px
}

form * {
  margin-top: 5px;
  margin-bottom: 5px;
}

form input {
  display: block;
}

form input[type="text"]{
  border: 1px solid #ccc;
  color: #888;
  width: 95%;
  height: 20px;
  line-height: 15px;
  padding: 5px 0px 5px 5px;
  border-radius: 4px;
}

form select {
  width: 20%;
  height: 32px;
  line-height: 15px;
}

form button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 25px 10px 25px;
  color  #333;
  border-radius: 4px;
}
