@import '../../style/design';

.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em 0;

  a {
    display: inline-block;
    border: 1px solid darken($backgroundColor, 25);
  }

  .count {
    background: #fafafa;
    border: 1px solid darken($backgroundColor, 70);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;

    &.positive {
      border-color: blue;
      color: blue;
    }

    &.negative {
      border-color: red;
      color: red;
    }
  }

  .clicker {
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 44px;
  }
}
