@import "../../style/_vars.scss";

.expense-item {
  list-style: none;
  margin: 0;
  margin-bottom: $pad;
  padding-bottom: $pad;
  border-bottom: solid 1px $color-primary;

  button {
    background: $color-error;
    height: 100%;
    display: inline-block;
    width: 20%;
  }

  p {
    height: 100%;
    display: inline-block;
    width: calc(40% - 0.5em);
    padding: $pad;
    background: $color-secondary;
    margin-right: $pad;
  }

}
