@import  "./_vars.scss";

body {
  padding: $pad;
}

.app {
  padding-top: 5%;
}

.ipsum-settings-form {
  height: 200px;

  label {
    background: $color-primary;
    display: block;
  }

  button {
    height: 20%;
    float: left;
    background: $color-lightgrey;
    border: none;
    &:hover { background: $color-grey; }
    &:active { background: $color-darkgrey; }
  }

  input {
    border: none;
    border-top: 1px solid $color-primary;
  }
  
  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label {
    padding: $pad;
    border-bottom: 1px solid white;
  }
  input[type="radio"]:checked + label {
    background: $color-success;
  }

  .options {
    height: 80%;
    width: 60%;
    float: right;

    label, input {
      width: 50%;
      float: left;
      margin: 0;
      height: calc(100%/3);;
      text-align: center;
      padding: $pad * 2;
      border-right: 1px solid $color-primary;;
    }

    label {
      border: 1px solid white;
    }
  }

  .selected-language {
    height: 80%;
    width: 40%;
    float: left;
    * {
      border: none;
    }

    label {
      background: #ccc;
      height: 100% / 4;
    }
  }

  .slide-checkbox {
    height: calc(100% / 3);
    width: 100%;

    input {
      display: none;
    }

    input[type="checkbox"]:checked + label{
      background: $color-success;
    }

    label {
      padding: 10px;
    }

    label div {
      width: 30px;
      height: 30px;
      background: white;
      transition: 200ms;
      border-radius: 15px;
    }

    input[type="checkbox"]:checked + label div{
      transform: translateX( 125px);
    }

    span, label {
      height: 100%;
    }

    span {
      text-align: center;
      padding: 2 * $pad;
      width: 50%; 
      float: left;
      background: $color-primary;
    }

    label {
      width: 50%;
      background: $color-error;
      float: right;
    }

  }
}

.ipsum-display {
  p {
    padding: $pad;
    border-bottom: 1px solid $color-secondary;
  }
}


@media screen and (min-width: 600px){
  .app {
    width: 600px;
    margin: 0 auto;
  }
}
