$primary-color: black;

.card {
  background-color: white;
  display: inline-block;
  height: 140px;
  width: 100px;
  border: solid black 1px;
  border-radius: 5px;
  position: relative;

  .top-left {
    position: absolute;
    top: 0;
    left: 0;
  }

  .bot-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.diamonds, .hearts {
  color: red;
}

.clubs, .spades {
  color: black;
}
