* {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

*:focus {
  outline: none;
  border: none;
}

html, body, #app {
  height: 100%;
}

nav a {
  display: inline-block;
  color: black;
  text-align: center;
}

nav {
  width: 200px;
  height: 100%;
  background: #ddd;
}

nav li {
  background: #ddd;
}

nav li:nth-child(odd) {
    background: #bbb;
}

nav li:hover {
  background: #999;
}
