.list {
    cursor: pointer;
    list-style-type:none;

    li {
        padding: .25em 1em;
        width: 200px;

        &:hover {
            background: #ccc;
        }
    }
}

.detail {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform:uppercase;
    background-color:pink;

    li {
        padding: .25em 1em;

        span:first-child {
            display:block;
            font-weight:bold;
            text-transform:uppercase;
        }
    }
}